/* Define your CSS styles here */
/* Remember to validate your CSS at https://jigsaw.w3.org/css-validator/ */

* { box-sizing: border-box; }

#kcontainer {
	width: 100vw;
	padding: 20px;
    font-family: "Courier New";
    font-size: 2vw
}

.row {
	display: flex;
	justify-content: center;
	line-height: 6vw;
}

.key {
	background: darkgray;
    width: 6vw;	
}

.control {
	background: MediumSeaGreen;
    width: 12vw;
}

.key, .control{
	text-align: center;
    margin: 0.25vw;
    padding: 0.1vw;
	color: white;
	border-radius: 0.5vw;
}

.key:active {
	background: gray;
}
.control:active {
	background: SeaGreen;
}

.Bksp, .Tab{
	width: 12vw;
}

.space {
	width: 40vw;
}
